@import '../scss/variables.scss';

.categoryItem {
    text-decoration: none;


    &:hover {
        .categoryItem {
            &__img {
                opacity: 0.8;
            }

            &__name {
                color: $yellow;
            }
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        max-width: 100%;
        height: 240px;
        border-radius: 20px;
        object-fit: cover;
        transition: opacity 0.3s;
    }

    &__name {
        color: $black;
        font-size: 22px;
        font-weight: bold;
        margin: 5px 0 0 0;
        transition: color 0.3s;

        @media (max-width:$screen-lg) {
            font-size: 18px;
        }
    }

}