@import 'variables';

.menu {
    width: 320px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    padding: 15px 15px 50px 15px;
    z-index: 99;
    transition: transform 0.3s;

    @media (max-width:$screen-md) {
        transform: translateX(-100%);
        background: $red-dark;
        width: 100%;


        &--show {
            transform: translate(0);
        }
    }

    &__hamburger {
        width: 40px;
        border: 0;
        background: rgba(0, 0, 0, 0);
        padding: 0;
        position: absolute;
        right: 0px;
        top: 9px;
        transform: translateX(60px);
        transition: transform 0.3s;

        &--transform {
            transform: translateX(-20px);
        }

        span {
            width: 40px;
            height: 4px;
            background: #fff;
            border-radius: 5px;
            display: block;
            margin: 8px 0;
            transition: opacity 0.3s, transform 0.3s;
        }

        &.active {

            span {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    position: absolute;
                    top: 0;
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                    position: absolute;
                    top: 0;
                }
            }
        }


        @media (min-width:$screen-md + 1px) {
            display: none;
        }
    }

    &__logo {
        font-size: 24px;
        color: $white;
        font-weight: bold;
        text-decoration: none;
    }

    &__content {
        height: 100%;

    }

    &__nav {

        margin-top: 40px;
        overflow-y: auto;
        height: 100%;

        @media (max-width:$screen-md) {

            margin-top: 10px;
        }
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        max-width: 235px;

    }

    &__item {
        margin: 10px 0;
    }

    &__link {
        text-decoration: none;
        color: $white;
        display: flex;
        align-items: center;
        font-size: 16px;
        padding: 12px 15px;
        border-radius: 30px;
        transition: background 0.3s linear;

        &.active {
            background: rgba($white, 0.3);
        }


        &:hover {
            background: rgba($white, 0.3);
        }
    }

    &__icon {
        width: 24px;
        margin-right: 10px;
    }
}