@import 'variables';

.tile {
    display: block;
    text-decoration: none;
    border-radius: 20px;
    border: 2px dashed rgba($blue-dark, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    min-height: 240px;
    cursor: pointer;

    transition: all 0.3s;

    @media (max-width:$screen-lg) {
        min-height: 200px;
    }



    &:hover {
        border-color: $yellow;
        background: $yellow;

        .tile {
            &__icon {
                color: $white;
            }

            &__title {
                color: $white;
            }
        }
    }

    &__icon {
        width: 55px;
        color: rgba($blue-dark, 0.3);
        transition: color 0.3s;
    }

    &__title {
        color: rgba($blue-dark, 0.3);
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        transition: color 0.3s;
        text-align: center;
        line-height: 100%;
        margin-top: 5px;

        @media (max-width:$screen-lg) {
            font-size: 16px;
        }
    }
}