$blue-dark:#002642;
$red-dark:#840032;
$yellow:#E59500;
$grey:#E5DADA;
$black:#02040F;
$white:#fff;
$success:#1ba038;
$error:#a11414;

$screen-lg:1299px;
$screen-md:991px;
$screen-sm:767px;
$screen-xs:499px;